[package]
name = "umbral-pre-python"
authors = ["Bogdan Opanchuk <bogdan@opanchuk.net>"]
version = "0.0.1"
edition = "2018"

[lib]
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "0.12.3", features = ["extension-module"] }
umbral-pre = { path = "../umbral-pre" }
generic-array = "0.14"
