[package]
name = "umbral-pre-python"
authors = ["Bogdan Opanchuk <bogdan@opanchuk.net>"]
version = "0.3.3"
edition = "2018"

[lib]
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "0.15" }
umbral-pre = { path = "../umbral-pre" }
generic-array = "0.14"
